body { 
    /* The image used */
    background-image: url("../images/background2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    outline: none;
    border: none;
    background-color: transparent;

}

